.jumbotron {
  margin-top: -50px;
}

.container {
  align-items: center;
  position: relative;
  padding-left: 150px;
}

h1 {
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 125px;
}

h3 {
  font-family: 'Monoton', cursive;
  font-size: 175px;
  color: rgb(110, 18, 18)
}

h5 {
  font-family: 'Codystar', cursive;
  font-size: 50px;
} 

#newsTitle {
  font-family: 'NTR', cursive;
  font-size: 30px;
}

img {
    height: 75px;
    width: 75px;
}

#topWired,
#topVice,
#topBR,
#topVERGE,
#topBUZZFEED {
  text-align: center;
}