
.jumbotron {
  background: #f1e59e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f1e59e, #f05053);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f1e59e, #f05053); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body, .panel-heading,
.panel {
  background-color: #f1e59e;
}

.well{
  background : rgba(242, 166, 126, 0.37);
}
.panel-title{
  background: rgba(242, 166, 126, 0.37);
  padding-top: 10px;
  padding-bottom: 10px;
}
#totalCon{
  font-weight: 700;
}



h1 {
  text-align: center;
}

h2 {
  font-family: 'Pacifico', cursive;
  font-size: 85px;
  color: rgb(0, 0, 0)
}

h3 {
  font-family: 'Monoton', cursive;
  font-size: 120px;
  color: #f1e59e;
}

h5 {
  font-family: 'Codystar', cursive;
  font-weight: bold;
  font-size: 35px;
  color: rgb(0, 0, 0)
} 

#newsTitle {
  font-family: 'NTR', cursive;
  font-size: 20px;
}

img {
    height: 75px;
    width: 75px;
}

#topWired,
#topVice,
#topBR,
#topVERGE,
#topBUZZFEED {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .btn {
    font-size: 10px;
  }
}